<div class="wrapper">
  <div class="header-wrapper">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">
            <img src="http://res.cloudinary.com/polymorph/image/upload/v1526477974/logo_white_2x.png" alt="logo">
            mosey
          </a>
        </div>

        <ul class="navbar-nav ml-auto" style="display:inline;">
          <li class="nav-item">Contact <span class="fa fa-facebook-official" style="color: white; margin-left: 10px;"></span></li>
          <li class="nav-item"><span class="fa fa-instagram"></span></li>
        </ul>

      </div>
    </nav>
    <div style="text-align: center; margin-top: 50px;">
      <h2>Share your experiences with the world.</h2>
      <br>
      <p class="subtitle">Create unique experiences around your city and earn extra money by bringing others along</p>

      <div>
        <app-email-collector></app-email-collector>
      </div>
    </div>
  </div>


  <div class="content-wrapper">

  </div>
</div>
