<div class="wrapper">
  <div class="header-wrapper">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">
            <img src="http://res.cloudinary.com/polymorph/image/upload/v1526477973/logo-white.png" alt="logo">
            mosey
          </a>
        </div>

        <ul class="navbar-nav ml-auto" style="display:inline;">
          <li class="nav-item">Contact <span class="fa fa-facebook-official" style="color: white; margin-left: 10px;"></span></li>
          <li class="nav-item"><span class="fa fa-instagram"></span></li>
        </ul>

      </div>
    </nav>
    <div style="text-align: center; margin-top: 50px;">
      <h3>Share your experiences with the world.</h3>
      <br>
      <p class="subtitle">Create unique experiences around your city and earn extra money<br/>
        by bringing others along</p>

      <div class="brand-color">
        <app-email-collector></app-email-collector>
      </div>
    </div>
  </div>


  <div class="content-wrapper">


  </div>


  <div style="text-align: center; margin-top: 40px;" class="container">
    <h5>People all over the world share their experiences <br/>
      with troop</h5>
    <section>
      <p>Hosts are chefs, hikers, or just knowledgeable locals, who wants to show <br/>
        others little-known pockets of their community. They can host an <br/>
        experience or multiple ones over the course of a few days
      </p>

    </section>
  </div>

  <div style="text-align: center; margin-top: 50px" class="container">
    <h5><b>App Features (2)</b></h5>

    <div class="row" style="margin-top: 30px">
      <div class="col-md-5 col-xs-12" style="text-align: right">
        <img src="http://res.cloudinary.com/polymorph/image/upload/v1526592832/handshake.png" alt="handshake">
        <h6 style="text-align: right; color: #ff6b75" >Meet more people</h6>
        <section>
          <p style="text-align: right">Join a global community of travellers.<br/>
            Connect through meetups & events.
          </p>
        </section>

        <img src="http://res.cloudinary.com/polymorph/image/upload/v1526592832/handshake.png" alt="handshake">
        <h6 style="text-align: right; color: #ff6b75">Meet more people</h6>
        <section>
          <p style="text-align: right">Join a global community of travellers.<br/>
            Connect through meetups & events.
          </p>
        </section>




      </div>

      <div class="col-md-2 col-xs-12">
        <img src="http://res.cloudinary.com/polymorph/image/upload/v1526477930/phone.png" alt="iphone">
      </div>

      <div class="col-md-4 col-xs-12" style="text-align: left">
        <img src="http://res.cloudinary.com/polymorph/image/upload/v1526477926/speaker.png" alt="speaker">
        <h6 style="text-align: left; color: #ff6b75">Get more exposure</h6>
        <section>
          <p style="text-align: left">Millions of travellers can find your<br/>
            experiences in an instant.
          </p>
        </section>

        <img src="http://res.cloudinary.com/polymorph/image/upload/v1526477925/tag.png" alt="tag">
        <h6 style="text-align: left; color: #ff6b75">Plan your trips</h6>
        <section>
          <p style="text-align: left">Have a shareable profile with photos<br/>
            videos and reviews.
          </p>
        </section>

      </div>
    </div>

    <div class="row container" style="margin-top: 70px">

      <div class="col-md-6 col-xs-12" style="text-align: right;">
        <img src="http://res.cloudinary.com/polymorph/image/upload/v1526477930/phone.png" alt="phone">
      </div>

      <div class="col-md-6 col-xs-12 small-text" style="text-align: left">
        <div>
          <img src="http://res.cloudinary.com/polymorph/image/upload/v1526477926/speaker.png">
          <span>
            <p class="brand-color">Get more exposure</p>
            <p>Millions of travellers can find your experiences in an instant </p>

          </span>
        </div>
        <br/>
        <div>
          <img src="http://res.cloudinary.com/polymorph/image/upload/v1526477925/tag.png">
          <span>
            <p class="brand-color">Plan your trips</p>
            <p>Have a shareable profile with photos,<br/>
              videos and reviews</p>

          </span>
        </div>
        <br/>
        <div>
          <img src="http://res.cloudinary.com/polymorph/image/upload/v1526592832/handshake.png">
          <span>
            <p class="brand-color">Meet more people</p>
            <p>Join a global community of travellers.<br/>
            Connect through meetups & events.</p>

          </span>

          <span></span>
        </div>

      </div>

    </div>

    <div style="text-align: center; margin-top: 30px" class="container">
    <h3>Ready to share your travel experiences?</h3>
      <p class="subtitle">Be the first to get the app and earn a chance to win VIP access worth $100</p>


    </div>
    <div>
      <app-email-collector></app-email-collector>
    </div>


  </div>

  <hr/>
  <footer class="footer container" style="margin-bottom: 5vh">
    <a>
      <img src="http://res.cloudinary.com/polymorph/image/upload/v1526475963/mosey-logo.png" alt="logo">
      mosey
    </a>


  </footer>
</div>
