<div class="wrapper">
  <div class="header-wrapper">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand">
          <img src="http://res.cloudinary.com/polymorph/image/upload/v1526477974/logo_white_2x.png" alt="logo">
          mosey
        </a>
      </div>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">Contact <span class="fa fa-facebook-official" style="color: white; margin-left: 10px;"></span></li>
        <li class="nav-item"><span class="fa fa-instagram"></span></li>
      </ul>


    </div>
  </nav>
    <div style="text-align: center; margin-top: 50px;">
      <h2>Share your experiences with the world.</h2>
      <p>Create unique experiences around your city and earn extra money by bringing others along</p>

      <form class="container form-inline" style="width: 20%;">
        <span><input type="text" class="form-control email-bar" placeholder="Email"></span>
        <i><button class="btn btn-primary email-button">Get early access</button></i>
      </form>
    </div>

  </div>

  <div class="vignette">

  </div>

  <div class="about">
    <h3>People all over the world share their experiences<br/> with troop</h3>
    <p>Hosts are chefs, hikers, or just knowledgeable locals <br/> who want to show others little known pockets of their community.
      <br/>They can host an experience on multiple ones over the course of a few days
    </p>
  </div>
</div>
